<blockquote>
  <p><%= post.body %></p>
  <small>
  <% if post.user == current_user %>
    You
  <% else %>
    <%= link_to post.user.username, "#" %>
  <% end %>.
  <%= time_ago_in_words(post.created_at) %> ago.
  </small>
</blockquote>
