// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Override some defaults */

html {
  background-color: #eee; }

body {
  background-color: #eee;
  padding-top: 40px;
  /* 40px to make the container go all the way to the bottom of the topbar */ }

.container {
  > footer p {
    text-align: center;
    /* center align it with the container */ }
  width: 820px;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */ }

/* The white background content wrapper */

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

/* Page header tweaks */

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px; }

/* Styles you shouldn't keep as they are for displaying this base example only */

.content {
  .span10 {
    min-height: 500px; }
  .span4 {
    min-height: 500px;
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee; } }

/* Give a quick and non-cross-browser friendly divider */

.topbar .btn {
  border: 0; }
