<!DOCTYPE html>
<html>
<head>
  <title>Chatter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div
    id=pubnub
    pub-key=demo
    sub-key=demo
    ssl=off
    origin=pubsub.pubnub.com
></div>
<script src=http://cdn.pubnub.com/pubnub-3.1.min.js ></script>
<%= yield %>

</body>
</html>
